<ul >
  {{#events}}
    <li>
        <h2>{{ title }}</h2>
        <p>{{ description }}</p>
         <input type="button" name="Like" value="Like" />
         <input type="button" name="Button" value="" />
    </li>
  {{/events}}
</ul>